# Logs e Dependências
logs
*.log
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Arquivos pesados / Binários
*.zip
*.exe

# Mídia pesada (Onde moram os vídeos)
*.mp4
*.mov

# Se houver algum vídeo específico que não tenha extensão mp4/mov mas seja pesado:
# src/assets/nome-do-arquivo-especifico

/backend/.env

# Ignora todas as imagens de upload
backend/uploads/*

# Mas NÃO ignora o arquivo .gitkeep (garante que a pasta exista no clone)
!backend/uploads/.gitkeep